body {
  margin: 0;
  font-family: Baskerville, sans-serif;
  background-color: #F7E6CA;
  color: #260F06;
}

header {
  text-align: center;
  padding: 40px 20px;
}

.nomes {
  font-family: 'Margarine', cursive;
  font-size: 100px;
  color: #260F06;
  margin-bottom: 10px;
}

.versiculo {
  font-size: 22px;
  max-width: 800px;
  margin: 0 auto;
  color: #260F06;
}

.versiculo span {
  font-size: 18px;
}

.intro {
  text-align: center;
  max-width: 750px;
  margin: 30px auto;
  font-size: 18px;
}

.lista-presentes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
  padding: 40px;
}

.presente {
  background-color: #ffffff;
  border: 2px solid #A57865;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}

.presente h3 {
  color: #683924;
}

.descricao {
  font-size: 14px;
  margin: 10px 0;
}

.valor {
  font-weight: bold;
  margin: 10px 0;
}

button {
  background-color: #260F06;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #683924;
}

footer {
  text-align: center;
  padding: 40px 20px;
}

.pix {
  font-size: 16px;
}

.assinatura {
  margin-top: 25px;
  font-size: 22px;
}
