:root {
  --champagne: #F7E6CA;
  --mocha: #A57865;
  --milk: #683924;
  --expresso: #260F06;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(to bottom, var(--champagne), #ffffff);
  color: var(--expresso);
}

.hero {
  padding: 90px 20px;
  text-align: center;
}

.hero-img {
  width: 100%;
  max-width: 1100px; /* controla a largura no desktop */
  height: auto;
  display: block;
  margin: 0 auto 40px;
  border-radius: 22px;
  box-shadow: 0 20px 45px rgba(0,0,0,0.25);
}


.versiculo {
  max-width: 800px;
  margin: auto;
  font-size: 22px;
  line-height: 1.6;
  font-style: italic;
}

.versiculo span {
  display: block;
  margin-top: 10px;
  font-weight: 500;
}

.lista {
  padding: 60px 20px;
  text-align: center;
}

.lista h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.sub {
  margin-bottom: 40px;
  max-width: 850px;
  margin-inline: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
  max-width: 1100px;
  margin: auto;
}

.item {
  background: #fff;
  padding: 30px;
  border-radius: 18px;
  border: 2px solid var(--champagne);
  box-shadow: 0 15px 35px rgba(0,0,0,0.08);
  transition: transform 0.3s ease, border 0.3s ease;
}

.item:hover {
  transform: translateY(-6px);
  border-color: var(--mocha);
}

.desc {
  font-size: 14px;
  opacity: 0.85;
  margin-bottom: 10px;
  line-height: 1.5;
}

.item p {
  font-weight: bold;
  color: var(--milk);
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 12px 26px;
  background: linear-gradient(to right, var(--mocha), var(--milk));
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
}

.btn:hover {
  background: var(--expresso);
}

.destaque {
  border-color: var(--mocha);
}

.carinho {
  background: var(--champagne);
}

.pix {
  background: var(--milk);
  color: #fff;
  padding: 60px 20px;
  text-align: center;
}

.pix code {
  display: block;
  margin: 15px auto;
  padding: 10px 20px;
  background: #fff;
  color: var(--expresso);
  border-radius: 10px;
  width: fit-content;
}

footer {
  padding: 35px;
  text-align: center;
}

.amor {
  font-size: 20px;
  font-weight: 500;
}
.descricao {
  font-size: 10px;
  margin: 12px 0;
  line-height: 1.4;
  color: #555;
}






